.homeContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentBox {
  width: 600px;
  height: 350px;
  padding: 20px 40px;
  margin: 0px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--content-box-shadow);
}

.activeFileType {
  background-color: rgb(200, 255, 200);
}

.rejectFileType {
  background-color: rgb(255, 200, 255);
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 36px;

  margin-bottom: 70px;
}

.info {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;

  font-size: 24px;
  text-align: center;
  line-height: 1.5em;
  color: #444;
}

/**
 * file input styles
 */
.fileInput {
  width: 0.1px;
	height: 0.1px;

  opacity: 0;
	overflow: hidden;
	position: absolute;

  z-index: -1;
}

.fileInput + .inputLabel {
  padding: 5px 10px;

  color: var(--theme-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;

  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}

.fileInput:focus + .inputLabel,
.fileInput + .inputLabel:hover {
  color: var(--theme-color-deep);
}

.fileInput:focus + .inputLabel {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.dummyDataButton {
  margin: 0px;
  background: none;
  border: none;
  outline: none;

  padding: 10px 20px;
  cursor: pointer;
  color: #aaa;
  font-weight: 500;

  transition: color 0.3s;
}

.dummyDataButton:hover {
  color: #444;
  transition: color 0.3s;
}

/**
 * error message styling
 */
.errorMessage {
  width: 500px;
  margin: 20px 0px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}